#bgr
#lake
  #sploutch
    .drop
    #ripples
      - (1..2).each do |i|
        .ripple
    #splashes
      - (1..3).each do |i|
        .splash
#raftHolder
  #raft
    #raftTop
    #raftBottom
#raftRipples
  - (1..2).each do |i|
    .raftRipple
#raftReflection
  - (1..3).each do |i|
    .raftReflectionSegment
#forest
  - (1..3).each do |i|
    .tree
